<div class="container p-3 h-100">

  <mat-tab-group id="group" dynamicHeight mat-stretch-tabs mat-align-tabs="center" *ngIf="!loading">

    <!-- Players Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined">people</mat-icon>
      </ng-template>
      <div class="pt-3">

        <!-- Participants Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              {{"general.attribute.players" | translate}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <app-participant-list [players]="this.game.players"
                                  [currentPlayer]="this.currentPlayer"
                                  [mayEdit]="isLobbyAdmin"
                                  (playersChanged)="changePlayers($event)"></app-participant-list>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button
                    (click)="quitLobby(this.currentPlayer.user)">{{("general.action.quit" | translate).toUpperCase()}}</button>
            <button mat-button color="primary" *ngIf="isLobbyAdmin(this.currentPlayer)"
                    (click)="startGame()">{{("general.action.start" | translate).toUpperCase()}}</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>

    <!-- RuleSet Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined">list_alt</mat-icon>
      </ng-template>
      <div class="h-100 pt-3">

        <!-- Rules Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              {{"general.attribute.rules" | translate}}
            </mat-card-title>
            <mat-card-subtitle>
              {{gameIdentifier.token}}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <app-role-selection [roles]="game.ruleSet.gameRoleTypes"
                                [currentPlayer]="currentPlayer"
                                [mayEdit]="isLobbyAdmin"
                                [getArray]="werewolfRoleTypeArray"
                                [translationPrefix]="'werewolf.role.'"
                                [internalRepresentation]="this.werewolfRoleTypeUtil.toInternalRepresentation"
                                (roleChanged)="changeRoles($event)"></app-role-selection>

            <div class="mt-5">
              <app-resourcepack-selection [gameIdentifier]="'werewolf'"
                                          [pack]="game.ruleSet.resourcePack"
                                          [currentPlayer]="currentPlayer"
                                          [mayEdit]="isLobbyAdmin"
                                          [getArray]="werewolfResourcePackArray"
                                          (packChanged)="changePack($event)"></app-resourcepack-selection>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

    <!--    <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-outlined">settings</mat-icon>
          </ng-template>
          <div class="h-100 pt-3">

            &lt;!&ndash; Settings Card &ndash;&gt;
            <mat-card class="mx-3 mb-3">
              <mat-card-header class="pp-center">
                <mat-card-title>
                  {{"general.attribute.settings" | translate}}
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
              </mat-card-content>
            </mat-card>

          </div>
        </mat-tab>-->

  </mat-tab-group>

  <!-- Loading Indicator -->
  <div class="d-flex justify-content-center align-items-center h-100" *ngIf="loading">
    <app-loading-indicator [loading]="loading" [errorMessage]="errorMessage"></app-loading-indicator>
  </div>

</div>
