<mat-form-field class="w-100" *ngIf="mayEdit(this.currentPlayer)">
  <mat-label>{{"general.attribute.roles" | translate}}</mat-label>

  <mat-chip-list #roleChipList>
    <mat-chip
      *ngFor="let role of this.roles | distinct"
      [selectable]="false"
      [removable]="true"
      (removed)="removeRole(role)"
      (click)="incrementRole(role)">
      {{this.countRole(role)}}x {{this.displayRole(role) | async}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <input matInput
         #roleInput
         #trigger="matAutocompleteTrigger"
         [formControl]="roleControl"
         [matAutocomplete]="roleAutocomplete"
         [matChipInputFor]="roleChipList">
  <mat-autocomplete #roleAutocomplete="matAutocomplete"
                    autoActiveFirstOption
                    (optionSelected)="selectAutocomplete($event)">
    <mat-option *ngFor="let role of this.filteredOptions | async" [value]="role">
      {{this.displayRole(role) | async}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="!mayEdit(this.currentPlayer)">
  <p>Roles</p>
  <mat-chip-list>
    <mat-chip
      *ngFor="let role of this.roles | distinct"
      [selectable]="false"
      [removable]="false"
      (click)="openRoleInformationDialog(role)">
      {{this.countRole(role)}}x {{this.displayRole(role) | async}}
    </mat-chip>
  </mat-chip-list>
</div>
