<mat-form-field class="w-100" *ngIf="mayEdit(this.currentPlayer)">
  <mat-label i18n>Roles</mat-label>

  <mat-chip-list #roleChipList>
    <mat-chip
      *ngFor="let role of this.roles | distinct"
      [selectable]="false"
      [removable]="true"
      (removed)="removeRole(role)">
      {{this.countRole(role)}}x {{this.toStringRepresentation(role)}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <input matInput
         #roleInput
         [formControl]="roleControl"
         [matAutocomplete]="roleAutocomplete"
         [matChipInputFor]="roleChipList">
  <mat-autocomplete #roleAutocomplete="matAutocomplete"
                    (optionSelected)="selectAutocomplete($event)">
    <mat-option *ngFor="let role of this.getArray" [value]="role">
      {{this.toStringRepresentation(role)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="!mayEdit(this.currentPlayer)">
  <p>Roles</p>
  <mat-chip-list>
    <mat-chip
      *ngFor="let role of this.roles"
      [selectable]="false"
      [removable]="false">
      {{this.toStringRepresentation(role)}}
    </mat-chip>
  </mat-chip-list>
</div>
