<mat-card>
  <mat-card-header class="pp-center">
    <mat-card-title>
      {{getTranslationKey(vote.voteDescriptor) | translate}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="mt-3">
    <div>

      <!-- Selection -->
      <div *ngIf="this.vote.voteState == voteState.ONGOING">
        <div class="row">
          <div class="col-7">
            {{"general.vote.choose" | translate: {"amount": voteMap.get(currentPlayer.id)?.amountVotes} }}
          </div>
          <div class="col text-right">
            {{"general.vote.time" | translate:{"amount": (this.timeRemaining | formatTime)} }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <mat-divider [inset]="true"></mat-divider>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <mat-chip-list>
              <mat-chip *ngFor="let subject of this.sortSelection(this.voteMap.get(this.currentPlayer.id)!.subjects)"
                        [selected]="includedInSelection(subject)" (click)="selectOption(subject)">
                {{subjectToStringRepresentation(subject)}}
              </mat-chip>
              <mat-chip *ngIf="this.voteMap.get(currentPlayer.id)?.allowAbstain" color="accent"
                        [selected]="voteMap.get(currentPlayer.id)?.abstain" (click)="selectAbstain()">
                <mat-icon>shortcut</mat-icon>
                {{"general.vote.abstain" | translate}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <mat-divider [inset]="true"></mat-divider>
          </div>
        </div>
      </div>

      <!-- Other Players -->
      <div class="row" [ngClass]="(this.vote.voteState == voteState.ONGOING) ? 'mt-5' : ''">
        <div class="col">
          <h3 class="text-center">{{"general.vote.others" | translate}}</h3>
        </div>
      </div>
      <div class="row mt-0">
        <div class="col">
          <table mat-table [dataSource]="votersData" class="full-width">

            <ng-container matColumnDef="player">
              <th mat-header-cell *matHeaderCellDef>Player</th>
              <td mat-cell *matCellDef="let element">{{voterToStringRepresentation(element[0])}}</td>
            </ng-container>

            <ng-container matColumnDef="selection">
              <th mat-header-cell *matHeaderCellDef>Selection</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element[1].abstain">
                  {{"general.vote.abstained" | translate}}
                </div>
                <mat-chip-list *ngIf="!element[1].abstain">
                  <span *ngFor="let selection of sortSelection(element[1].selection)">
                    <mat-chip>{{subjectToStringRepresentation(selection)}}</mat-chip>
                  </span>
                </mat-chip-list>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>

      <!-- Result -->
      <div *ngIf="this.vote.voteState == voteState.CONCLUDED">
        <div class="row mt-5">
          <div class="col">
            <h3 class="text-center">{{"general.vote.result" | translate}}</h3>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <mat-chip-list class="pp-center">
              <mat-chip *ngFor="let outcome of this.vote.outcome">
                {{subjectToStringRepresentation(outcome)}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>

</mat-card>
