<div class="container p-3">

  <mat-form-field appearance="outline" class="px-3 w-100">
    <mat-label>{{"module.profile.userSearch" | translate}}</mat-label>
    <mat-icon matSuffix>person</mat-icon>
    <input matInput type="text"
           placeholder="{{'module.profile.userSearchPlaceholder' | translate}}"
           [formControl]="userSearchControl"
           [matAutocomplete]="userSearchAutocomplete">
    <mat-autocomplete #userSearchAutocomplete="matAutocomplete" [displayWith]="displayUser">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                  (onSelectionChange)="onSelect($event)">
        {{displayUser(option)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Profile Section -->
  <div *ngIf="!loading && !error">
    <!-- Floating Action Button -->
    <button mat-fab color="accent" class="btn-fab" (click)="openEnterGameDialog()">
      <mat-icon>games</mat-icon>
    </button>

    <!-- Profile Card -->
    <mat-card class="mx-3">
      <mat-card-header class="pp-center">
        <mat-card-title>
          {{profileUser.nickname}}
        </mat-card-title>
        <mat-card-subtitle>
          {{profileUser.username}}
        </mat-card-subtitle>
        <mat-card-subtitle>
          <mat-chip-list class="pp-center">
            <mat-chip
              *ngFor="let role of this.profileUser.userRoles"
              [selectable]="false"
              [removable]="false">
              {{userRoleToString(role)}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions *ngIf="currentUser.id == profileUser.id || this.userService.isAdmin(currentUser)">
        <button mat-button (click)="signOut()" *ngIf="currentUser.id == profileUser.id">{{("general.action.signOut" | translate).toUpperCase()}}</button>
        <button mat-button (click)="openEditDialog()">{{("general.action.edit" | translate).toUpperCase()}}</button>
      </mat-card-actions>
    </mat-card>

    <!-- Active Games Card -->
    <div *ngIf="profileUser.id == currentUser.id">
      <mat-card class="mx-3 mt-3">
        <mat-card-header class="pp-center">
          <mat-card-title>
            {{"module.profile.activeGames" | translate}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let gameEntry of activeGamesMap | keyvalue; last as last">
                <mat-selection-list [multiple]="false" class="w-100">
                  <mat-list-option *ngFor="let game of gameEntry.value" (click)="joinGameFromList(game)">
                    <mat-icon mat-list-icon svgIcon="duotone-{{gameEntry.key | lowercase}}"></mat-icon>
                    <h3 matLine>
                      {{gameEntry.key | titlecase}}
                    </h3>
                    <p matLine>
                      {{game.gameIdentifier.token}}
                    </p>
                  </mat-list-option>
                </mat-selection-list>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Home -->
    <div *ngIf="profileUser.id != currentUser.id" class="pp-center pt-3">
      <button mat-button color="accent" (click)="goHome()">{{"general.action.goHome" | translate}}</button>
    </div>

  </div>

  <!-- Loading Indicator -->
  <div class="d-flex justify-content-center align-items-center h-100">
    <app-loading-indicator [loading]="loading" [errorMessage]="errorMessage"></app-loading-indicator>
  </div>

</div>


