<div class="container">
  <!--  Logo -->
  <div class="row">
    <div class="col m-3 text-center">
      <img alt="ParlorPlace logo" class="mb-3 mt-2" src="assets/image/ParlorPlace.svg" style="max-width: 25%;"/>
    </div>
  </div>

  <!--  Description -->
  <div class="row">
    <div class="col mx-3 text-center">
      <mat-card>
        <mat-card-header class="card-center">
          <mat-card-title i18n>
            ParlorPlace
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p i18n>Welcome to ParlorPlace, your central hub for all social deduction based games!</p>
          <p i18n>Please sign up for a new account or log in if you are already registered.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--  Authentication -->
  <div class="row">
    <div class="col mt-3 mx-3 text-center">
      <mat-card>
        <mat-card-header class="card-center">
          <mat-card-title i18n>
            Authentication
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <app-signup></app-signup>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <app-signin></app-signin>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
