<div class="container">
  <!--  Logo -->
  <div class="row">
    <div class="col m-3 text-center">
      <img alt="ParlorPlace logo" class="mb-3 mt-2" src="assets/image/ParlorPlace.svg" style="max-width: 25%;"/>
    </div>
  </div>

  <!--  Description -->
  <div class="row">
    <div class="col mx-3 text-center">
      <div class="card p-3">
        <h1 class="display-5">ParlorPlace</h1>
        <p class="pt-3" i18n>Welcome to ParlorPlace, your central hub for all social deduction based games!</p>
        <p i18n>Please sign up for a new account or log in if you are already registered.</p>
      </div>
    </div>
  </div>

  <!--  Authentication -->
  <div class="row">
    <div class="col mt-3 mx-3 text-center">
      <div class="card p-3">
        <h5 class="card-title" i18n>Authentication</h5>
        <app-signup class="mt-3"></app-signup>
        <app-signin class="mt-1"></app-signin>
      </div>
    </div>
  </div>
</div>
