<div class="container p-3 h-100">

  <mat-tab-group id="group" dynamicHeight mat-stretch-tabs mat-align-tabs="center"
                 *ngIf="!loading"
                 (selectedTabChange)="selectedTabChange($event)">

    <!-- Main Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons">home</mat-icon>
      </ng-template>

      <div class="pt-3">

        <!-- Recent Log Card -->
        <mat-card class="mx-3 log-card" *ngIf="this.game.log.length > 0">
          <mat-card-content>
            <app-werewolf-log-entry-list [hideSleep]="false" [log]="[this.game.log.reverse()[0]]"
                                         [players]="this.game.players"></app-werewolf-log-entry-list>
          </mat-card-content>
        </mat-card>

        <!-- Village Card -->
        <mat-card class="mx-3 mt-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              {{"werewolf.misc.village" | translate}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <app-werewolf-player-list [game]="this.game" [players]="this.game.players"></app-werewolf-player-list>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

    <!-- Vote Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons" matBadge="{{sortVotes(game.votes)[0].length}}" matBadgeSize="small"
                  [matBadgeHidden]="!sortVotes(game.votes)[0].length > 0">gavel
        </mat-icon>
      </ng-template>

      <div class="h-100 pt-3">

        <!-- Ongoing Votes -->
        <div *ngFor="let vote of sortVotes(game.votes)[0]" class="mx-3 mb-3">
          <app-werewolf-vote [currentPlayer]="currentPlayer" [gameIdentifier]="this.game.gameIdentifier"
                             [players]="this.game.players" [vote]="vote"></app-werewolf-vote>
        </div>

        <div class="pp-center">
          <button mat-button (click)="this.hideVotes = true"
                  *ngIf="!hideVotes">
            <mat-icon class="material-icons-outlined">visibility_off</mat-icon>
            {{("general.vote.hideConcluded" | translate).toUpperCase()}}
          </button>
          <button mat-button (click)="this.hideVotes = false"
                  *ngIf="hideVotes">
            <mat-icon class="material-icons-outlined">visibility</mat-icon>
            {{("general.vote.showConcluded" | translate).toUpperCase()}}
          </button>
        </div>

        <!-- Concluded Votes -->
        <div *ngIf="!hideVotes" class="mt-3">
          <div *ngFor="let vote of sortVotes(game.votes)[1]" class="mx-3 mb-3">
            <app-werewolf-vote [currentPlayer]="currentPlayer" [gameIdentifier]="this.game.gameIdentifier"
                               [players]="this.game.players" [vote]="vote"></app-werewolf-vote>
          </div>
        </div>


      </div>
    </mat-tab>

    <!-- Log Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons" matBadge="‎" matBadgeSize="small" [matBadgeHidden]="this.viewedLog">format_list_bulleted</mat-icon>
      </ng-template>

      <div class="h-100 pt-3">

        <!-- Log Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              {{"werewolf.misc.log" | translate}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="mt-1 pp-center">
              <button mat-button (click)="this.hideSleep = true"
                      *ngIf="!hideSleep">
                <mat-icon class="material-icons-outlined">visibility_off</mat-icon>
                {{("general.log.hideSleep" | translate).toUpperCase()}}
              </button>
              <button mat-button (click)="this.hideSleep = false"
                      *ngIf="hideSleep">
                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                {{("general.log.showSleep" | translate).toUpperCase()}}
              </button>
            </div>

            <app-werewolf-log-entry-list [hideSleep]="hideSleep"
                                         [log]="this.game.log"
                                         [players]="this.game.players"></app-werewolf-log-entry-list>

          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

    <!-- Info Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons" matBadge="‎" matBadgeSize="small" [matBadgeHidden]="this.viewedRole">info
        </mat-icon>
      </ng-template>

      <div class="h-100 pt-3">

        <!-- Information Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              {{"werewolf.misc.information" | translate}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="pp-center">

            <div>
              <div class="flex-row mt-3">
                <div class="col">
                  <div>
                    <h3>{{this.codeName | async}}</h3>
                  </div>
                </div>
              </div>
              <div class="flex-row mt-1">
                <div class="col">
                  <div>
                    {{"general.other.codeNameDescription" | translate}}
                  </div>
                </div>
              </div>
              <div class="flex-row mw-100 mt-5 pp-center">
                <div class="col icon-container">
                  <mat-icon inline="true"
                            svgIcon="{{this.werewolfRoleTypeUtil.toIconRepresentation(this.getCurrentRoleTypeCurrentPlayer())}}"></mat-icon>
                </div>
              </div>
              <div class="flex-row mt-5">
                <div class="col">
                  <div>
                    <h3>{{("werewolf.role." + this.werewolfRoleTypeUtil.toInternalRepresentation(this.getCurrentRoleTypeCurrentPlayer()) + ".name") | translate}}</h3>
                  </div>
                </div>
              </div>
              <div class="flex-row mt-1">
                <div class="col">
                  <div>
                    {{("werewolf.role." + this.werewolfRoleTypeUtil.toInternalRepresentation(this.getCurrentRoleTypeCurrentPlayer()) + ".description") | translate}}</div>
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

  </mat-tab-group>

  <!-- Loading Indicator -->
  <div class="d-flex justify-content-center align-items-center h-100" *ngIf="loading">
    <app-loading-indicator [loading]="loading" [errorMessage]="errorMessage"></app-loading-indicator>
  </div>

</div>
