<mat-list>
  <mat-list-item *ngFor="let player of sortPlayers(this.players)">
    <mat-icon *ngIf="player.playerState == playerState.ALIVE" mat-list-icon svgIcon="duotone-unknown"></mat-icon>
    <mat-icon *ngIf="player.playerState == playerState.DECEASED && player.gameRoles.length > 0" mat-list-icon
              svgIcon="duotone-{{player.gameRoles[player.gameRoles.length-1].werewolfRoleType.valueOf() | internalRepresentation }}"></mat-icon>
    <h3 matLine>
      {{player.user.nickname}}
    </h3>
    <p matLine>{{player.user.username}}</p>

  </mat-list-item>
</mat-list>
