<h2 mat-dialog-title>Join Game</h2>

<mat-dialog-content class="mat-typography">

  <mat-form-field class="w-100">
    <mat-label i18n>Game Identifier</mat-label>
    <input matInput [(ngModel)]="data.outputData.identifier" [formControl]="identifierControl">
    <mat-error *ngIf="identifierControl.hasError('minlength')" i18n>Identifier must be at least 4 characters</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="accent" [matMenuTriggerFor]="hostMenu">Host</button>
  <mat-menu #hostMenu="matMenu">
    <button *ngFor="let game of games" mat-menu-item (click)="onHost(game)">{{gameTypeUtil.toStringRepresentation(game)}}</button>
  </mat-menu>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
