<h2 mat-dialog-title>Edit User</h2>

<mat-dialog-content class="mat-typography w-100">
  <!--  <div *ngIf="this.data.isAdmin">
      <mat-form-field class="w-100">
        <mat-label i18n>Username</mat-label>
        <input matInput [(ngModel)]="data.username" [formControl]="usernameControl">
        <mat-error *ngIf="usernameControl.hasError('minlength')" i18n>Username must be at least 3 characters</mat-error>
        <mat-error *ngIf="usernameControl.hasError('maxlength')" i18n>Username must be at most 15 characters</mat-error>
      </mat-form-field>
    </div>-->

  <mat-form-field class="w-100">
    <mat-label i18n>Nickname</mat-label>
    <input matInput [(ngModel)]="data.outputData.nickname" [formControl]="nicknameControl">
    <mat-error *ngIf="nicknameControl.hasError('minlength')" i18n>Nickname must be at least 3 characters</mat-error>
    <mat-error *ngIf="nicknameControl.hasError('maxlength')" i18n>Nickname must be at most 15 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="data.outputData.password" [formControl]="passwordControl">
    <mat-error *ngIf="passwordControl.hasError('minlength')" i18n>Password must be at least 8 characters</mat-error>
    <mat-error *ngIf="passwordControl.hasError('maxlength')" i18n>Password must be at most 255 characters</mat-error>
  </mat-form-field>

  <div *ngIf="this.passwordControl.value || this.passwordControl.errors || this.confirmPasswordControl.errors">
    <mat-form-field class="w-100">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" [formControl]="confirmPasswordControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="confirmPasswordControl.hasError('minlength')" i18n>Confirm password must be at least 8
        characters
      </mat-error>
      <mat-error *ngIf="confirmPasswordControl.hasError('maxlength')" i18n>Confirm password must be at most 255
        characters
      </mat-error>
      <mat-error *ngIf="confirmPasswordControl.hasError('matching')" i18n>Passwords do not match</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="w-100">
    <mat-label i18n>E-Mail</mat-label>
    <input matInput [(ngModel)]="data.outputData.email" [formControl]="emailControl">
    <mat-error *ngIf="emailControl.hasError('mail')" i18n>E-Mail is invalid</mat-error>
  </mat-form-field>
</mat-dialog-content>

<div *ngIf="this.data.inputData.input_isAdmin">
  <mat-form-field class="w-100">
    <mat-label i18n>Roles</mat-label>
    <mat-chip-list #roleChipList>
      <mat-chip
        *ngFor="let role of this.data.outputData.roles"
        [selectable]="this.chipsSelectable"
        [removable]="this.chipsRemovable"
        (removed)="removeChip(role)">
        {{displayRole(role)}}
        <mat-icon matChipRemove *ngIf="this.chipsRemovable">cancel</mat-icon>
      </mat-chip>
      <input
        matInput
        #roleInput
        [formControl]="roleControl"
        [matAutocomplete]="roleAutocomplete"
        [matChipInputFor]="roleChipList"
        [matChipInputSeparatorKeyCodes]="this.separatorKeysCodes"
        (matChipInputTokenEnd)="addChip($event)">
      <mat-autocomplete #roleAutocomplete="matAutocomplete" (optionSelected)="selectAutocompleteChip($event)">
        <mat-option *ngFor="let role of this.availableRoles" [value]="role">
          {{displayRole(role)}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
