<div class="container p-3 h-100">

  <mat-tab-group id="group" dynamicHeight mat-align-tabs="center">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">people</mat-icon>
        Players
      </ng-template>
      <div *ngIf="!initialLoading" class="pt-3">

        <!-- Participants Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Players
            </mat-card-title>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="!refreshLoading">
            <app-player-list [players]="this.game.players"
                             [currentPlayer]="this.currentPlayer"
                             [mayEdit]="isLobbyAdmin"
                             (playersChanged)="changePlayers($event)"></app-player-list>
          </mat-card-content>

          <mat-card-actions *ngIf="!refreshLoading">
            <button mat-button (click)="quitLobby(this.currentPlayer.user)">QUIT</button>
            <button mat-button color="primary" *ngIf="isLobbyAdmin(this.currentPlayer)">START</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">list_alt</mat-icon>
        Rules
      </ng-template>
      <div *ngIf="!initialLoading" class="h-100 pt-3">

        <!-- Rules Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Rules
            </mat-card-title>
            <mat-card-subtitle>
              {{gameIdentifier.token}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="!refreshLoading">
            <app-role-selection [roles]="game.ruleSet.roles"
                                [currentPlayer]="currentPlayer"
                                [mayEdit]="isLobbyAdmin"
                                [getArray]="werewolfRoleTypeArray"
                                [toStringRepresentation]="werewolfRoleTypeToString"
                                (roleChanged)="changeRoles($event)"></app-role-selection>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">settings</mat-icon>
        Settings
      </ng-template>
      <div *ngIf="!initialLoading" class="h-100 pt-3">

        <!-- Rules Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Settings
            </mat-card-title>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

  </mat-tab-group>

  <!-- Loading Indicator -->
  <div class="d-flex justify-content-center align-items-center h-100" *ngIf="initialLoading">
    <app-loading-indicator [loading]="initialLoading" [errorMessage]="errorMessage"></app-loading-indicator>
  </div>

</div>


