<div class="container p-3 h-100">

  <mat-tab-group id="group" dynamicHeight mat-align-tabs="center">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">people</mat-icon>
        Players
      </ng-template>
      <div *ngIf="!initialLoading" class="pt-3">

        <!-- Participants Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Players
            </mat-card-title>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="!refreshLoading">
            <div cdkDropList (cdkDropListDropped)="changePosition($event)">
              <mat-list>
                <mat-list-item *ngFor="let player of sortPlayers(this.game.players)" cdkDrag
                               [cdkDragDisabled]="currentPlayer.lobbyRole != 'ROLE_ADMIN'">
                  <mat-icon *ngIf="player.lobbyRole == 'ROLE_ADMIN'" mat-list-icon>person_outline</mat-icon>
                  <mat-icon *ngIf="player.lobbyRole == 'ROLE_USER'" mat-list-icon>person</mat-icon>
                  <h3 matLine>
                    {{player.user.nickname}}
                  </h3>
                  <p matLine>{{player.user.username}}</p>

                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>

          <mat-card-actions *ngIf="!refreshLoading">
            <button mat-button>QUIT</button>
            <button mat-button color="primary" *ngIf="isLobbyAdmin(this.currentPlayer)">START</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">list_alt</mat-icon>
        Rules
      </ng-template>
      <div *ngIf="!initialLoading" class="h-100 pt-3">

        <!-- Rules Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Rules
            </mat-card-title>
            <mat-card-subtitle>
              {{gameIdentifier.token}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="!refreshLoading">


            <mat-form-field class="w-100" *ngIf="isLobbyAdmin(this.currentPlayer)">
              <mat-label i18n>Roles</mat-label>
              <mat-chip-list #roleChipList>
                <mat-chip
                  *ngFor="let role of this.game.ruleSet.roles"
                  [selectable]="false"
                  [removable]="true"
                  (removed)="removeRole(role)">
                  {{this.werewolfRoleTypeToString(role)}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <input
                matInput
                #roleInput
                [formControl]="roleControl"
                [matAutocomplete]="roleAutocomplete"
                [matChipInputFor]="roleChipList"
                [matChipInputSeparatorKeyCodes]="this.separatorKeysCodes"
                (matChipInputTokenEnd)="inputChip($event)">
              <mat-autocomplete #roleAutocomplete="matAutocomplete"
                                (optionSelected)="selectAutocompleteChip($event)">
                <mat-option *ngFor="let role of this.werewolfRoleTypeArray" [value]="role">
                  {{this.werewolfRoleTypeToString(role)}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="!isLobbyAdmin(this.currentPlayer)">
              <p>Roles</p>
              <mat-chip-list>
                <mat-chip
                  *ngFor="let role of this.game.ruleSet.roles"
                  [selectable]="false"
                  [removable]="false">
                  {{this.werewolfRoleTypeToString(role)}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-icons-outlined">settings</mat-icon>
        Settings
      </ng-template>
      <div *ngIf="!initialLoading" class="h-100 pt-3">

        <!-- Rules Card -->
        <mat-card class="mx-3 mb-3">
          <mat-card-header class="pp-center">
            <mat-card-title>
              Settings
            </mat-card-title>
            <mat-card-subtitle *ngIf="refreshLoading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>

  </mat-tab-group>

  <!-- Loading Indicator -->
  <div class="d-flex justify-content-center align-items-center h-100" *ngIf="initialLoading">
    <app-loading-indicator [loading]="initialLoading" [errorMessage]="errorMessage"></app-loading-indicator>
  </div>

</div>


